<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title%></h1>
    <a href="/">Home</a>
    <a href="/credits">Creditos</a>
     <a href="/quizzes">Quizzes</a>

  </body>
</html>
